/*
* Logout Component
*/

.logout-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-component h1 {
  padding-top: 1em;
}

.logout-component p {
  text-align: center;
  padding-top: 1em;
}
