/*
* User Card
*/

.user-card {
  display: block;
  padding-top: 2em;
}

.user-card .card {
  width: 30em;
  margin: 0 auto;
  margin-bottom: 2em;
  flex-direction: row;
}

.user-card .card-body {
  align-self: center;
  padding-left: 4em;
}

.user-card__image {
  padding-left: 3em;
}

.custom-image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  padding: 1em;
}

.custom-color {
  color: #e8ba21;
}

.user-card__locations a {
  height: 100%;
  display: flex;
  align-items: center;
}
